.feedbackList {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.feedbackListItem {
    display: flex;
    align-items: left;
    font-size: 2.5rem;
    padding: 0.5rem;
}


.good{
    display: flex;
    align-items: left;
    font-size: 2.5rem;
    padding: 0.5rem;
    color: green;
}

.bad{display: flex;
    align-items: left;
    font-size: 2.5rem;
    padding: 0.5rem;
    color: red;

}

.neutral{
    display: flex;
    align-items: left;
    font-size: 2.5rem;
    padding: 0.5rem;
   color: blue;
}

.positive{
    display: flex;
    align-items: left;
    font-size: 2.5rem;
    padding: 0.5rem;
   color: yellow;
}

